body, html {
  height: 100%;
  margin: 0;
  background-color: #232634; /* Set the background color here */
  color: #c6d0f5;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  margin: 0 auto;
  background-color: #232634; /* Set the background color here */
  padding:1em;
}

.App-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232634;
  padding: 20px 0;
  color: #c6d0f5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}