.options-container {
  display: flex;
  justify-content: space-between;
}

.option-label {
  display: block;
  padding: 10px;
  border: 1px solid #000;
  border-color:#626880;
  border-radius: 5px;
  text-align: center;
  font-size:10px;
  color: #aad0f5;
}

.hidden-radio {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }

  .option-label:hover {
    cursor: pointer;
    background-color:rgb(166, 209, 137)	;
    color: white;
  }
  
  input[type="radio"]:checked + .option-label {
    background-color:#a6d189	;
    color: white;
  }

  .option-label.selected {
    background-color:#a6d189		;
    color:#232634;
  }


  .final-button-container {
    margin-top:1em;
    width: 100%;
    padding: 20px 0;
  }
  
  .submit-button {
    width: 200px;
    height: 50px;
    font-size:calc(10px + 2vmin);
    background-color: #ea999c	;
    border-radius:10px;
    color: #232634;
  }

.question {
    margin-bottom:3em;
}


  body {
    background-color: #232634;
  }